{% extends 'base.html.twig' %}

{% block title %}Liste des pizzas{% endblock %}

{% block body %}
     {{ include('_menu.html.twig') }}

    <h1> Liste des pizzas: </h1>

     {% for pizza in pizzas %}
        <h3> {{ pizza.name }} </h3>
        <p> prix: {{ pizza.price }} </p>
     {% endfor %}


{% endblock %}