<nav>
    <ul>
        <li>
            <a href="{{ path('app_pizza_create')}}"> Nouvelle pizza</a>
        </li>
        <li>
            <a href="{{ path('app_pizza_list')}}"> Liste des pizzas</a>
        </li>
    </ul>
</nav>